# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

     -  Outline popular languages used in data science
     -  Outline popular libraries used in data science
     -  Outline of data science tools
     -  Examples of simple expessions using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R and R Studio
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. SciPy
4. Matplotlib

| Data Science Tools |
|:----- |
| Apache Spark |
| Tensorflow |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
## This a simple arithmetic expression to mutiply then add integers ##
(3*4)+5

17

In [4]:
## This will convert 200 minutes to hours by diving by 60 ##
(200/60)

3.3333333333333335

## Author
Tony C